<footer class="footer">
	<small>
		The <a href="http://www.hadithopen.com/">Hadith Open</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="#">News</li>			
		</ul>
	</nav>
</footer>